@model Product

@{
    ViewData["Title"] = "Add Product";
}

@if (!string.IsNullOrEmpty(Model.Message))
{
    if (Model.HasErrors)
    {
        <div class="alert alert-danger text-center mb-4 mt-3" role="alert">
            @Html.Raw(Model.Message);
        </div>
    }
    else
    {
        <div class="alert alert-success text-center mb-4 mt-3" role="alert">
            @Html.Raw(Model.Message);
        </div>
    }
}

<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">Add New Product</h4>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("AddProduct", "Farmer", FormMethod.Post))
            { 
                @Html.HiddenFor(model => model.DateCreated) 

                <div class="mb-3">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "form-label" })
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", maxlength = "250", required = "required" })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>

                <div class="mb-3">
                    @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "form-label" })
                    @Html.DropDownListFor(model => model.Category,
                             new SelectList(new[] {
                             "Vegetables",
                             "Fruits",
                             "Grains",
                             "Dairy Products",
                             "Poultry"
                             }),
                             "Select a category",
                             new { @class = "form-select", required = "required" })
                    @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
                </div>

                <div class="mb-3">
                    @Html.LabelFor(model => model.ProductionDate, htmlAttributes: new { @class = "form-label" })
                    @Html.TextBoxFor(model => model.ProductionDate, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                    @Html.ValidationMessageFor(model => model.ProductionDate, "", new { @class = "text-danger" })
                </div>

                <button type="submit" class="btn btn-success float-end">Submit</button>
            }


        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
